.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

label {

  font-size: 17px;

}


input{
   width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}


input[type=submit] {
  width: 30%;
  background-color: #0066ff;
  color: white;
  font-size: 18px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
