body{
  margin-bottom: 3px;

}

nav{
  background: #6d9ad6;
  height: 30px;

}
div{
  text-align: center;
  background: #f2f2f2;

}
h2{
  color: #30475e;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  background:;

}

 th, td{
   border: 2px solid #6d9ad6;
   padding: 8px;
   text-align: left;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #0066ff;
  color: white;
}
.add{

  background-color: #0066ff;
  color: white;
  font-size: 15px;
  padding: 12px 12px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.up{

  background-color: #3FCF24;
  color: white;
  font-size: 15px;
  padding: 5px 5px;
  margin: 0px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.del{

  background-color: #E52775;
  color: white;
  font-size: 15px;
  padding: 5px 5px;
  margin: 0px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

footer{
  text-align:center;
}
