﻿@model Tienda.Models.Productos

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Productos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_price)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
