﻿@model Tienda.Models.Productos

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Productos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               <div class="form-group">
                <label asp-for="Product_id" class="control-label"></label>
                <input asp-for="Product_id" class="form-control" readonly />
                <span asp-validation-for="Product_id" class="text-danger"></span>
            
            <div class="form-group">
                <label asp-for="Product_code" class="control-label"></label>
                <input asp-for="Product_code" class="form-control" />
                <span asp-validation-for="Product_code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_name" class="control-label"></label>
                <input asp-for="Product_name" class="form-control" />
                <span asp-validation-for="Product_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_desc" class="control-label"></label>
                <input asp-for="Product_desc" class="form-control" />
                <span asp-validation-for="Product_desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_price" class="control-label"></label>
                <input asp-for="Product_price" class="form-control" />
                <span asp-validation-for="Product_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
