﻿@model Tienda.Models.Productos

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Productos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_price)
        </dd>
    </dl>
    
    <form asp-action="Eliminar">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
