﻿@model IEnumerable<Tienda.Models.Productos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<form asp-action="Index" method="get">

    <p>
        <i class="fa fa-search"></i>
        <input type="search" name="searchp" placeholder="Ingresa nombre o código del producto" value="@ViewData["GetEmployeesDetails"]" style="width:500px" />
        <input type="submit" name="Buscar" class="btn btn-primary">
        <a asp-action="Index">Ver Todos</a>
    </p>
</form>





<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Editar", new { id = item.Product_id}, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Detalles", new { id = item.Product_id }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Eliminar", new { id = item.Product_id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
